
body {
    display: flex;
  }
  .container {
    width: 100%;
    display: flex;
  }
  .column-left {
    width: 60%;
    background-color: lightblue;
    padding: 20px;
  }
  .column-right {
    width: 40%;
    background-color: lightgreen;
    padding: 20px;
  }